BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: All
SortIncludes: false
ColumnLimit: 0
